.content {
    width: 640px;
    margin: auto;
}

.content_wide {
    width: 1000px;
    margin: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #000000;
    text-align: left;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #000000;
    text-align: left;
    margin: 0;
    padding: 0;
}

div, button {
    padding: 0 5pt;
}

div, span, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #000000;
    text-align: left;
    margin: 0 0;
}

pre {
    margin: 2px 1px;
    padding: 2px 2px;
}

svg {
    float: left;
}

/*noinspection SpellCheckingInspection*/
.t-input {
    cursor: pointer;
}

#program-list-left {
    float: left;
    width: 50%;
    height: 100%;
    overflow: auto;
}

#program-list-right {
    float: right;
    width: 50%;
    height: 100%;
    overflow: auto;
}
